In [7]:
import pandas as pd  #read dataset
import numpy as np   #nemerical python mathemtical calculation
import matplotlib.pyplot as plt  #to plot
import seaborn as sns  #to plot graphical manner

In [9]:
#read dataset
df = pd.read_csv('diabetes.csv')

In [12]:
df.head() #show first 5 dataset value

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [14]:
#aim:to predict diabetes or not

In [15]:
df.shape #how many rows and column

(768, 9)

In [20]:
df.info()  #see information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [21]:
df.isnull().sum()  #to check null value  #df.dropna() function to drop null

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

# Train and test

In [23]:
from sklearn.model_selection import train_test_split  #data #label

In [27]:
x = df.iloc[:,df.columns!='Outcome']   #data
y = df.iloc[:,df.columns=='Outcome']   #outcome or label

In [28]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.2)   #20% test set

# Algorithm

In [34]:
from sklearn.ensemble import RandomForestClassifier

In [35]:
model=RandomForestClassifier()

In [38]:
model.fit(xtrain,ytrain.values.ravel()) #fit function used to train

RandomForestClassifier()

In [39]:
predict_output = model.predict(xtest)   #to test the algorithm
print(predict_output)

[0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 1 0 0 0
 1 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1
 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 0 0 0
 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 1 0 0 0 0 0 0 1 0 0 1
 0 0 0 0 0 0]

In [41]:
from sklearn.metrics import accuracy_score

In [44]:
acc=accuracy_score(predict_output,ytest)
print('the accuracy score:',acc)

the accuracy score: 0.7922077922077922

In [46]:
xtest.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
527,3,116,74,15,105,26.3,0.107,24
19,1,115,70,30,96,34.6,0.529,32
33,6,92,92,0,0,19.9,0.188,28
697,0,99,0,0,0,25.0,0.253,22
257,2,114,68,22,0,28.7,0.092,25

In [47]:
ytest.head()

     Outcome
527        0
19         1
33         0
697        0
257        0

In [48]:
xtrain.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
551,3,84,68,30,106,31.9,0.591,25
757,0,123,72,0,0,36.3,0.258,52
557,8,110,76,0,0,27.8,0.237,58
30,5,109,75,26,0,36.0,0.546,60
749,6,162,62,0,0,24.3,0.178,50